<nav class="navbar navbar-light bg-light background-color-blue margin-bottom-form navbar-fixed z-index-navbar">
    <ul class="navbar-nav mr-auto margin-left-link cursor-pointer display-contents" (click)="navigateTo('processar-imagem')">
        <li class="nav-item display-inherit">
            <i class="bi-gear icon-size margin-icon"></i>
            <a class="nav-link text-bolder color-white">Processar</a>
        </li>
    </ul>
    <ul class="navbar-nav mr-auto margin-left-link cursor-pointer" (click)="navigateTo('consulta-imagens-processadas')">
        <li class="nav-item display-inherit">
            <i class="bi-search icon-size margin-icon margin-top-icon"></i>
            <a class="nav-link text-bolder color-white">Consultar</a>
        </li>
    </ul>
    <ul class="navbar-nav mr-auto margin-left-link cursor-pointer margin-right" (click)="logout()">
        <li class="nav-item display-inherit">
            <i class="bi-person-fill icon-size icon-person"></i>
            <a class="nav-link text-bolder color-white">Logout</a>
        </li>
    </ul>
</nav>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }" [template]="customLoadingTemplate"></ngx-loading>