<div class="navbar-scan col-12 col-sm-12 col-md-12 col-lg-12 padding-top-7 z-index-navbar row">
    <div class="col-5 col-sm-4 col-md-2 col-lg-1 cursor-pointer no-padding" (click)="navigateTo('processar-imagem')">
        <i class="bi-gear icon-size margin-icon"></i>
        <a class="text-bolder color-white">Processar</a>
    </div>
    <div class="col-5 col-sm-4 col-md-2 col-lg-1 cursor-pointer no-padding" (click)="navigateTo('consulta-imagens-processadas')">
        <i class="bi-search icon-size margin-icon"></i>
        <a class="text-bolder color-white">Consultar</a>
    </div>
    <div class="col-2 col-sm-4 col-md-2 col-lg-1 offset-md-6 offset-lg-8 no-padding-right cursor-pointer padding-top-2 row">
        <div class="dropdown">
            <a type="button" class="dropdown-toggle color-white text-bolder text-decoration-none" [ngClass]="{'padding-top-name-user' : !isMobile}"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span *ngIf="!isMobile">Olá, {{nomeUsuarioLogado}}</span>
            <i class="bi bi-menu-button-wide-fill icon-size icon-menu" *ngIf="isMobile"></i>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item cursor-pointer" (click)="navigateTo('perfil')">Perfil</a>
                <a class="dropdown-item cursor-pointer" (click)="navigateTo('perfil')" *ngIf="informacoesUsuario.perfilUsuario == 'administrador'">Configurar</a>
                <a class="dropdown-item cursor-pointer" (click)="logout()">Sair</a>
            </div>
        </div>
    </div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }" [template]="customLoadingTemplate"></ngx-loading>