<nav class="navbar navbar-light bg-light background-color-blue margin-bottom-form navbar-fixed z-index-navbar">
    <i class="bi-house-door-fill icon-size margin-bottom-icon cursor-pointer" title="Digitalizar" (click)="navigateTo('home-scan')"></i>
    <ul class="navbar-nav mr-auto margin-left-link cursor-pointer">
        <li class="nav-item">
            <a class="nav-link text-bolder color-white" (click)="navigateTo('consulta-imagens-processadas')">Imagens Processadas</a>
        </li>
    </ul>
</nav>