.navbar-fixed {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
  }

.z-index-navbar {
    z-index: 10;    
}

.margin-icon {
  margin: 0 5px 8px 0;
}

.icon-person {
  font-size: 25px;
  margin-top: -2px;
}

.margin-left-link {
  margin-left: 15px;
}

.margin-top-icon {
  margin-top: 2px;
}

.margin-right {
  margin-right: 10px !important;
}