<div class="container col-md-12 col-lg-12 margin-top form-login">
    <div class="col-md-12 text-center">
        <h2>Cadastre-se</h2>
    </div>
    <form>
        <div class="form-group offset-md-3 col-md-6 col-lg-6">
            <label for="inputUsuario">Usuário <i class="text-required">*</i></label>
            <input type="text" class="form-control" id="inputUsuario" [(ngModel)]="usuario.username" 
                placeholder="Usuário" name="username" (keyup)="verificarUsuarioExistente()"
                [ngClass]="{ 'border-red': indicaUsuarioExistente }">
            <label *ngIf="indicaUsuarioExistente" class="label-usuario-cadastrado">Usuário já cadastrado</label>
        </div>
        <div class="form-group offset-md-3 col-md-6 col-lg-6">
            <label for="inputSenha">Senha <i class="text-required">*</i></label>
            <input type="password" class="form-control" id="inputSenha" [(ngModel)]="usuario.password" placeholder="Senha" name="password" 
                [disabled]="indicaUsuarioExistente" [ngClass]="{'cursor-not-allowed' : indicaUsuarioExistente}">
        </div>
        <div class="form-group offset-md-3 col-md-6 col-lg-6">
            <label for="inputUsuario">Nome Completo <i class="text-required">*</i></label>
            <input type="text" class="form-control" id="inputNomeCompleto" [(ngModel)]="usuario.nomeCompleto" 
                placeholder="Nome Completo" name="nome-completo"
                [disabled]="indicaUsuarioExistente" [ngClass]="{'cursor-not-allowed' : indicaUsuarioExistente}">
        </div>
        <div class="form-group offset-md-3 col-md-6 col-lg-6">
            <label for="inputEmail">E-mail <i class="text-required">*</i></label>
            <input type="email" class="form-control" id="inputEmail" [(ngModel)]="usuario.email" placeholder="E-mail" name="email" 
                [disabled]="indicaUsuarioExistente" [ngClass]="{'cursor-not-allowed' : indicaUsuarioExistente}">
        </div>
        <div class="form-group offset-md-3 col-md-6 col-lg-6">
            <label for="inputDataNascimento">Data de Nascimento <i class="text-required">*</i></label>
            <input type="date" class="form-control" id="inputDataNascimento" [(ngModel)]="usuario.dataNascimento" 
                name="data-nascimento" [disabled]="indicaUsuarioExistente" [ngClass]="{'cursor-not-allowed' : indicaUsuarioExistente}">
        </div>
        <div class="form-group offset-md-3 col-md-6">
            <button type="submit" class="btn btn-primary btn-block btn-primary-scan" (click)="criarUsuario()" 
                [disabled]="indicaUsuarioExistente" [ngClass]="{'cursor-not-allowed' : indicaUsuarioExistente}">Cadastre-se</button>
        </div>
        <div class="form-group offset-md-3 col-md-6">
            <span>
                Caso já tenha um usuário, faça <a (click)="navigateTo('login')" class="cursor-pointer text-underline text-back black-color">login</a>.
            </span>
        </div>
    </form>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }" [template]="customLoadingTemplate"></ngx-loading>