.footer {
    width: 100%;
    left: 0;
    bottom: 0;
    height: 75px;
    background-color: black;
    text-align: center;
    position: fixed !important;
}

.copyright {
    margin: 0;
    left: 50%;
    margin-top: 24px;
}