<div class="container col-md-12 col-lg-12 margin-top form-login">
    <div class="col-md-12 text-center">
        <h2>Esqueci minha senha</h2>
    </div>
    <form *ngIf="!contatos || contatos.length == 0">
        <div class="form-group offset-md-3 col-md-6 col-lg-6">
            <label for="inputUsuario">Usuário</label>
            <input type="text" class="form-control" id="inputUsuario" [(ngModel)]="username" aria-describedby="usuarioHelp" placeholder="Usuário" name="username">
        </div>
        <div class="offset-md-3 col-md-6">
            <button type="submit" class="btn btn-primary btn-block btn-primary-scan" (click)="verificarUsuarioExistente()">Continuar</button>
        </div>
        <div class="form-group offset-md-3 col-md-6">
            <a class="cursor-pointer text-underline text-back black-color" (click)="navigateTo('login')">Fazer Login</a>
        </div>
    </form>

    <form *ngIf="contatos && contatos.length > 0">
        <div class="offset-md-3 col-md-6 col-lg-6" *ngIf="contatos && contatos.length > 0">
            <label>Será enviado um e-mail para o endereço abaixo contendo as informações necessárias para a redefinição de senha, clique em Enviar.</label>
            <label class="text-bolder">{{contatos[0]}}</label>
        </div>
        <!-- <div class="form-group offset-md-3 col-md-6 col-lg-6" *ngFor="let contato of contatos" style="padding-left: 2.2rem;">
            <input class="form-check-input checkbox-scan cursor-pointer" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label cursor-pointer" for="flexCheckDefault">
                {{contato}}
            </label>
        </div> -->
        <div class="offset-md-3 col-md-6">
            <button type="submit" class="btn btn-primary btn-block btn-primary-scan" (click)="enviarEmailRedefinicaoSenha()">Enviar</button>
        </div>
        <div class="form-group offset-md-3 col-md-6">
            <a class="cursor-pointer text-underline text-back black-color" (click)="navigateTo('login')">Fazer Login</a>
        </div>
    </form>
</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }" [template]="customLoadingTemplate"></ngx-loading>