<div class="container margin-top container-scan col-lg-10">
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                <button class="btn collapsed black-color text-bolder" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Idioma
                </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn black-color text-bolder" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Arquivo Idioma
                    </button>
                </h5>
            </div>
      
            <div id="collapseOne" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body row">
                    <div class="col-12 col-lg-6">
                        <app-page-title-scan [page-name]="'Cadastrar'" [title-h6]="true" [icon]="'bi bi-file-earmark'"></app-page-title-scan>
                        <div class="col-md-12">
                            <form>
                                <div class="form-group">
                                    <label>Idioma <i class="text-required">*</i></label>
                                    <ng-multiselect-dropdown
                                        [placeholder]="'Selecione'"
                                        [data]="idiomas"
                                        [settings]="setSettingsDropdown('idioma')"
                                        (onSelect)="selecionarLinguagemDropdown($event)"
                                        (onDeSelect)="removerLinguagemSelecionada()"
                                        [(ngModel)]="idiomaSelecionado">
                                    </ng-multiselect-dropdown>
                                </div>
                                <div class="form-group">
                                    <input type="file" class="form-control-file" id="inputFileIdioma" (change)="selecionarArquivoIdioma($event)">
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary btn-primary-scan" (click)="cadastrarArquivoIdioma()">Cadastrar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <app-page-title-scan [page-name]="'Arquivos Cadastrados'" [title-h6]="true" [icon]="'bi bi-card-text'"></app-page-title-scan>
                        <div *ngIf="arquivosIdioma != null && arquivosIdioma.length > 0">
                            <div class="col-12 row text-bolder">
                                <div class="col-4">
                                    <span>Idioma</span>
                                </div>
                                <div class="col-4">
                                    <span>Data Cadastro</span>
                                </div>
                            </div>
                            <div class="col-12 row" *ngFor="let arquivoIdioma of arquivosIdioma">
                                <div class="col-4">
                                    {{arquivoIdioma.idioma}}
                                </div>
                                <div class="col-4">
                                    {{arquivoIdioma.dataCadastro | date: 'dd/MM/yyyy'}}
                                </div>
                                <div class="col-1">
                                    <a href="{{arquivoIdioma.urlArquivoBlob}}" target="_blank" title="Download"><i class="bi bi-download"></i></a>
                                </div>
                                <div class="col-1 cursor-pointer text-red">
                                    <i class="bi bi-trash" (click)="abrirModalRemocaoArquivoIdioma(arquivoIdioma.id)" title="Apagar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" *ngIf="arquivosIdioma == null || arquivosIdioma.length == 0">
                            <h6>Nenhum arquivo de idioma cadastrado.</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }" [template]="customLoadingTemplate"></ngx-loading>

<app-modal-scan
    #modal
    [text-body]="mensagemBodyModal"
    [title]="tituloModal"
    [btn-yes]="btnPrimary"
    [btn-no]="btnSecond"
    (response)="processReponseModal($event)">
</app-modal-scan>

<ng-template #modalBodyTemplate>
    <p>Deseja remover o arquivo de idioma <b>{{nomeArquivoSelecionadoExclusao}}</b>?</p>
</ng-template>