<div class="container margin-top container-scan col-lg-10">    
    <app-page-title-scan [page-name]="'Imagens'" [icon]="'bi-images'"></app-page-title-scan>
    <div class="btn-group col-md-12">
        <div class="offset-md-10 col-md-2 form-button-acoes margin-bottom-form">
            <button type="button" class="btn btn-primary dropdown-toggle button-acoes" 
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [disabled]="!rowSelected"
                [ngClass]="{'background-disabled' : !rowSelected}">
                Ações
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item cursor-pointer" (click)="abrirModalEnvioEmail()">Enviar E-mail</a>
                <a class="dropdown-item cursor-pointer" (click)="editarImagem()">Editar</a>
                <a class="dropdown-item cursor-pointer" (click)="abrirModalExclusao()">Excluir</a>
              </div>
        </div>
    </div>
    <div class="col-md-12">
        <ngx-datatable
            class="material cursor-pointer expandable"
            [rows]="rows"
            [columnMode]="'force'"
            [columns]="columns"
            [count]="paginationFilter.total"
            [headerHeight]="50"
            [rowHeight]="50"
            [footerHeight]="50"
            [externalPaging]="true"
            [offset]="page.number"
            [loadingIndicator]="loading"
            [limit]="page.limit"
            [externalSorting]="false"
            [messages]="{emptyMessage: 'Não há imagens processadas.', selectedMessage: 'selecionado(s)', totalMessage: 'registro(s)'}"
            [selectionType]="SelectionType.single"
            (page)="carregarImagensPaginacao($event)"
            (select)="onSelect($event)"
            (sort)="sort($event)">
        </ngx-datatable>
    </div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }" [template]="customLoadingTemplate"></ngx-loading>

<app-modal-scan
    #modal
    [text-body]="mensagemModal"
    [title]="tituloModal"
    [btn-yes]="btnPrimary"
    [btn-no]="btnSecond"
    (response)="processReponseModal($event)">
</app-modal-scan>

<ng-template #modalBodyTemplate>
    <p>As informações da imagem selecionada serão enviadas para o endereço de e-mail <b>{{emailUsuario}}</b>, caso queira utilizar um novo endereço e-mail, atualize no seu <a href="javascript:void(0)" (click)="modal.close(); navigateTo('perfil')">perfil</a>.</p>
</ng-template>