.div-scan-img {
    height: 375px;
    width: 100%;
    padding: 0px;
}

.background-color {
    background-color: white;
    opacity: 0.6;
    transition: 0.4s;
}

.background-color:hover, .background-img-selected {
    background-color: rgb(247, 247, 247);
    opacity: 1;
}

.box-shadow {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important
}

.margin-25 {
    margin: 25px;
}

.copy {
    position: absolute;
    margin: 0;
    top: 335px;
    right: 4%;
}

.upper-lower-case {
    position: absolute;
    margin: 0;
    top: 329px;
    right: 9%;
    font-size: 22px;
}